asgiref==3.6.0
cffi==1.15.1
colorama==0.4.6
cryptography==40.0.2
Django==4.0.3
django-jazzmin==2.6.0
Pillow==9.4.0
pycparser==2.21
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.4.3
typing_extensions==4.5.0
tzdata==2022.7
