{% extends "base.html" %} {% load humanize %} {% load customfilter %} {% block pageContent %}

<!--Section: Content-->
<h3 class="fw-bolder">{{page_title}}</h3>
<hr>
<section class="py-3">
    <div class="container">
        <div class="card rounded-0 shadow-sm blur">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-2">
                        <a href="javascript:void(0)" id="add_new" class="btn btn-primary btn-sm rounded-0 bg-gradient"><i class="fa fa-plus"></i> Add New Stock</a>
                    </div>
                    <table class="table table-stripped table-bordered" id="stock-table">
                        <colgroup>
                            <col width="10%">
                            <col width="20%">
                            <col width="30%">
                            <col width="25%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr class="bg-primary bg-gradient text-light">
                                <th class="text-center">#</th>
                                <th class="text-center">Date Added</th>
                                <th class="text-center">Petrol</th>
                                <th class="text-center">Volume</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="">{{ stock.date|date:"M d, Y " }}</td>
                                <td class="">{{stock.petrol}}</td>
                                <td class="text-end">{{ stock.volume|floatformat:2|intcomma }} L</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-light border bg-gradient btn-sm rounded-0 dropdown-toggle" type="button" id="stockDD{{stock.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="stockDD{{stock.pk}}">
                                            <li><a class="dropdown-item view_detail" href="javascript:void(0)" data-url="{% url 'view-stock-pk' stock.pk %}">View Data</a></li>
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)" data-url="{% url 'manage-stock-pk' stock.pk %}">Edit</a></li>
                                            <li><a class="dropdown-item delete-data" href="javascript:void(0)" data-url="{% url 'delete-stock-pk' stock.pk %}">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</div> {% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#add_new').click(function() {
            uni_modal("Add New Stock", "{% url 'manage-stock' %}")
        })
        $('table').find('td, th').addClass('align-middle px-2 py-1')
        $('.view_detail').click(function() {
            uni_modal("View Stock Details", $(this).attr('data-url'), 'modal-md')
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Stock Details", $(this).attr('data-url'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Stock?", "delete_data", ["'" + $(this).attr('data-url') + "'"])
        })
        $('#stock-table').dataTable({
            columnDefs: [{
                orderable: false,
                targets: [4]
            }]
        })
    })

    function delete_data($url) {
        start_loader()
        $.ajax({
            header: {
                'X-CSRFToken': '{{csrf_token}}',
            },
            url: $url,
            dataType: 'json',
            error: err => {
                console.error(err)
                alert("An error occurred")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    alert(resp.msg)
                } else {
                    alert("An error occurred")
                }
                end_loader()
            }
        })

    }
</script>
{% endblock ScriptBlock %}